<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snakes-and-ladders</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main_container">

        <div class="board_player_wrapper">
          <div id="board_container">
              
          </div>
      
        
        </div>
  
          <div class="dice_container">
            <div class="dice_wrapper">
              <div class="player_container">
                  <div class="players" id="player1">Player 1</div>
                  <div class="players">Player 2</div>
                </div>
                
              <div class="dice_img_container">
                  <div class="dice_img_div"><img id="p1_dice" class="dice_img" src="" alt="dice1" /></div>
                 <div class="dice_img_div"><img id="p2_dice" class="dice_img" src="" alt="dice2" /></div>
                </div>
              </div>
            </div>
          </div>
      </div>
  
    
</body>
</html>


<script type="module" src="js/index.js"></script>