* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Arvo", cursive;
  }

  .display_flex{
    display: flex;
  }
  
  body {
    position: relative;
    background-color:  #252839;
  }
  
  .main_container {
    width: 100%;
    height: 100vh;
    /* border: 2px solid black; */
    display: flex;
  }
  
  .board_player_wrapper{
    margin-left: 1rem;
    margin-top: 1rem;
    width: 35rem;
    height: 35rem;
    /* border: 2px solid black; */
    position: relative;
  }
  
  #board_container {
    
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    /* display: flex; */
    flex-direction: column;
    box-shadow: inset 0 -3px 0 0 #f9f7fb;
  }
  
  .rows {
    width: 100%;
    height: 4rem;
    display: flex;
    /* border: 2px solid black; */
  }
  
  .cell {
    width: 4rem;
    height: 100%;
    color: white;
    border: 2px solid blue;
  }



   /* style for dice container */
  
   .dice_container{
    width: 50%;
    height: 100%;
  }
  
  .dice_wrapper{
    width:  50%;
    height:  30%;
    margin: auto;
    border: 2px solid gray;
  }

  
   #toss{
     width: 5rem;
     height: 2rem;
     background-color: #13e0d6;
     margin: 00.5rem auto;
     text-align: center;
     color: #283149;
     font-size: large;
     font-weight: 900;
     border-radius: 1rem;
     display: block;
   }
  
  .dice_img_div{
    width: 30%;
    height: 15vh;
    /* border: 2px solid black; */
    margin: 2rem auto;
    visibility: hidden;
  }
  
  .dice_img_div img{
    width: 100%;
     z-index: 20;
  }
  

  /* stylying for modal */

  #modal{
    width: 30%;
    height: 25rem;
    padding: 2rem 1%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 20vh;
    left: 35%;
    background-color: #d11d26;
    border-radius: 1rem;
    z-index: 50;
    box-shadow: -1rem -0.4rem 3rem 2rem yellow;
  }

  #modal img{
    width: 90%;
  }


  .P-btn{
    width: 3rem;
    margin: 1rem;
  }

  .modal_heading{
    margin-bottom: 1rem;
    color: yellow;
  }


  .selectin_container{
    /* display: flex; */
    width: 60%;
    margin: 1rem auto;
    justify-content: space-between;

  }

  .selectin_container div{
    width: 23%;
    border: 0.1rem solid yellow;
    background-color: 	 #4eb1ac;
    border-radius: 0.5rem;
    color: wheat;
    letter-spacing: 0.1rem;
    font-size: large;
    padding: 0.5rem;
    cursor: pointer;
  }

  .hover_btn:hover{
    transform: scale(1.3);
    transition: 0.5s;
  }

  #play_btn{
    width: 25%;
    padding: 0.2rem;
    font-size: large;
    border-radius: 0.5rem;
    background-color:#13e0d6;
    color: white;
    border: 0.1rem solid yellow;
  }



/* style to add snakes and ladders images */

.snake {
  position: absolute;
  transform-origin: center bottom;
}

#solong {
  width: 3.4rem;
  top: 1rem;
  left: 1.5rem;
  transform: rotate(15deg);
  z-index: 3;
}

#long {
  width: 3.2rem;
  top: 5rem;
  left: 19rem;
  transform: rotate(38deg);
}

#medium {
  width: 10rem;
  top: 23rem;
  left: 9rem;
  transform: rotate(15deg);
}

#leftSide {
  width: 5rem;
  top: 2.5rem;
  left: 9rem;
  transform: rotate(-33deg);
  z-index: 5;
}

#medium2 {
  width: 11rem;
  top: 7rem;
  left: 23rem;
  transform: rotate(-30deg);
  z-index: 2;
}


.ladder{
    position: absolute;
    transform-origin: center bottom;
}



#big_ladder {
    width: 2.5rem;
    height: 25rem;
    top: 2rem;
    left: 26rem;
    transform: rotate(-35deg);
  }
  
  #small_ladder {
    width: 2.5rem;
    height: 11rem;
    top: 23.5rem;
    left: 12rem;
    transform: rotate(70deg);
  }
  
  #medium_ladder {
    width: 2.4rem;
    height: 13rem;
    top: 1rem;
    left: 22rem;
    transform: rotate(37deg);
  }
  
  #medium_ladder01 {
    width: 2.4rem;
    height: 13rem;
    top: 11rem;
    left: 9rem;
    transform: rotate(-35deg);
  }
  
  #small_ladder01 {
    width: 2.5rem;
    height: 9rem;
    top: 15.5rem;
    left: 33.5rem;
    transform: rotate(-30deg);
  }


  /* here is the style for the players */

   
  #p1{
    position: absolute;
    left: 0.7rem;
    top : 32rem;
    width: 2rem;
    height: 2rem;
    z-index: 4;
    background-color: red;
    border-radius: 50%;
    transform: translate();
    text-align: center;
    /* transition: 2s; */
  }

  #p2{
    position: absolute;
    left: 0.7rem;
    top : 32rem;
    width: 2rem;
    height: 2rem;
    z-index: 3;
    background-color: blue;
    border-radius: 50%;
    transform: translate();
    text-align: center;
    /* transition: 2s; */
  }

  #p3{
    position: absolute;
    left: 0.7rem;
    top : 32rem;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    background-color: yellow;
    border-radius: 50%;
    transform: translate();
    text-align: center;
    /* transition: 2s; */
  }
  #p4{
    position: absolute;
    left: 0.7rem;
    top : 32rem;
    width: 2rem;
    height: 2rem;
    z-index: 1;
    background-color: green;
    border-radius: 50%;
    transform: translate();
    text-align: center;
    /* transition: 2s; */
  }

.players{
  transition: 1s;
}



#animation_div{
  position: absolute;
  top: 10rem;
  left: 10%;
  z-index: 10;
  display: none;
}

#restarting{
  position: relative;
  z-index: 10;
  font-size: 8vw;
  color: #252839;
  -webkit-text-stroke: 0.4vw #383d52;
  text-transform: uppercase;
}

#restarting::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 0.2rem solid #01fe87;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate
{
  0%{
    width: 0%;
  }
  70%{
    width: 100%;
  }
}





@media only screen and (max-width: 600px) {
  .main_container{
    display: flex;
    flex-direction: column;
  }

  #modal{
    width: 90%;
    height: 25rem;
    padding: 2rem 1%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 5vh;
    left: 5%;
    background-color: #d11d26;
    border-radius: 1rem;
    z-index: 50;
    box-shadow: -1rem -0.4rem 3rem 2rem yellow;
    
  }
    
  .dice_container{
    width: 100%;
    height: 50vh;
  }
  
  .dice_wrapper{
    width:  80%;
    height:  30%;
    margin: auto;
    border: none;
    /* border: 2px solid gray; */
  }

  
   #toss{
     width: 5rem;
     height: 2.5rem;
     background-color: #13e0d6;
     margin: 00.5rem auto;
     text-align: center;
     color: #283149;
     font-size: large;
     font-weight: 900;
     border-radius: 1rem;
     display: block;
   }
  
  .dice_img_div{
    width: 30%;
    height: 15vh;
    /* border: 2px solid black; */
    margin: 2rem auto;
    visibility: hidden;
  }
  
  .dice_img_div img{
    width: 100%;
     z-index: 20;
  }
  

}